# Ignorar arquivos e pastas do Eclipse/STS
.metadata/
.recommenders/
.settings/
.project
.classpath

# Ignorar pastas de build do Maven/Gradle
target/
build/

# Ignorar arquivos de IDEs comuns
.idea/ # IntelliJ IDEA
*.iml  # IntelliJ IDEA
.vscode/ # VS Code

# Ignorar arquivos de log
*.log